<div class="appnav"  [class.header_change]="isScrolled" [class.header]="!isScrolled" #appnav>
    <app-nav ></app-nav>
</div>

<div class="vision_mission">
    <div class="row mt-5">
        <div class="col-12 ms-md-2 px-4 px-md-5 mt-5">
            <h1 class="mt-4 ms-2 pt-md-4 ps-md-5">VISI DAN MISI SMKN 7 BATAM</h1>
            <div class="visi ps-4 ps-md-5">
                <h3 class="mt-5 pt-md-4">VISI</h3>
                <p class="mt-3">“TERWUJUDNYA PESERTA DIDIK YANG BERIMAN, BERTAQWA KEPADA TUHAN YANG MAHA ESA DAN BERAKHLAK MULIA TERAMPIL, UNGGUL, BERDAYA SAING GLOBAL DI ERA TEKNOLOGI DIGITAL.”</p>
            </div>
            <div class="misi ps-4 ps-md-5">
                <h3 class="mt-5">MISI</h3>
                <p class="mt-3">
                    1. MELAKUKAN PEMBINAAN SIKAP DAN KARAKTER PROFIL PELAJAR PANCASILA <br>
                    2. MENINGKATKAN PEMBELAJARAN BERMUTU YANG BERBASIS TEKNOLOGI<br>
                    3. MENGEMBANGKAN MINAT, BAKAT DAN POTENSI PESERTA DIDIK<br>
                    4. MEMENUHI SARAN DAN PRASARANA SESUAI DENGAN STANDAR DUNIA KERJA<br>
                    5. MENINGKATKAN KUALITAS KERJASAMA PROGRAM LINK AND MATCH DENGAN DUNIA KERJA<br>
                    6. MENGEMBANGKAN PENDIDIKAN DAN PELATIHAN BERBASIS TEKNOLOGI INFORMASI<br>
                    7. MENINGKATKAN ETOS KERJA PENDIDIK DAN TENAGA KEPENDIDIKAN<br>
                    8. MEMBANGUN HUBUNGAN BAIK DENGAN MASYARAKAT DAN LINGKUNGAN<br>
                    9. MELAKSANAKAN PENDIDIKA VOKASI YANG KOMPETEN BERSTANDAR DUNIA KERJA DAN SERTIFIKASI NASIONAL MAUPUN INTERNASIONAL<br>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="mt-4 mt-md-5">
    <app-footer></app-footer>
</div>