<div class="appnav" [class.header_change]="isScrolled" [class.header]="!isScrolled" #appnav>
  <app-nav></app-nav>
</div>

<div class="mikrotik mt-5 pt-1">
  <div class="row px-3 mt-3 mt-md-5 px-md-5">
    <div class="col-12 mt-5 px-5">
      <h1 class="mb-md-5">MIKROTIK ACADEMY SMK NEGERI 7 BATAM</h1>

      <div class="mikro h2 mt-4 mt-md-4 mb-5">
        <h2 class="">Mikrotik</h2>
        <p>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;SMK Negeri 7 Batam memiliki program keahlian Teknik
          Komputer dan Jaringan (TKJ) sejak tahun 2019. Kurikulum yang dilaksanakan di program keahlian TKJ di tahun
          2024 ini semua berasal dari Direktorat Pembina SMK. Mata pelajaran yang dipelajari oleh siswa TKJ bervariasi
          mulai dari Komputer dan Jaringan Dasar hingga Administrasi Infrastruktur Jaringan. Dalam era persaingan global
          persaingan untuk mendapat pekerjaan maupun melanjutkan studi ke universitas ternama akan semakin sulit. Untuk
          mengatasi hal tersebut, pihak sekolah perlu lebih kreatif lagi agar bisa mencetak lulusan lebih berkualitas
          dari sekolah lain agar bisa diterima di perusahaan atau universitas ternama. mengadakan pelatihan atau
          sertifikasi untuk siswa merupakan salah satu cara untuk meningkatkan kualitas lulusan di SMK Negeri 7 Batam
          sehingga lulusan sekolah ini bisa lebih baik dari sekolah lain.
        </p>
      </div>

      <div class="mikro my-5">
        <h2>Apa itu Mikrotik Academy?</h2>
        <p>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;MikroTik Academy adalah sebuah program yang disiapkan
          untuk jalur pendidikan, yaitu Politeknik / Universitas/ Sekolah
          Kejuruan dan sejenisnya untuk mempelajari MikroTik. Kelas MikroTik akan banyak menggunakan Lab-Komputer
          layaknya
          Pelatihan Sertifikasi MikroTik dan akan terdapat Ujian untuk mengukur seberapa jauh kemampuan yang di miliki
          peserta.
        </p>
      </div>

      <div class="mikro my-5">
        <h2>Syarat Untuk Mendirikan Mikrotik Academy</h2>
        <p>
          1. Silakan menghubungi Koordinator MikroTik yang ditunjuk di negara Anda.<br>
          2. Setidaknya satu guru/profesor di lembaga tersebut harus memperoleh MTCNA dan setidaknya satu sertifikat
          MikroTik Engineer level yang lulus ujian dengan skor 75% atau lebih tinggi.<br>
          3. Institusi harus membuat bagian permanen di situsnya yang didedikasikan untuk program Akademi.<br>
          4. Setelah prasyarat yang dijelaskan di atas terpenuhi, Pihak Mikrotik akan memberikan izin dan sertifikat
          Academy Trainer ke akun MikroTik.com
        </p>
      </div>

      <div class="mikro my-5">
        <h2>Keuntungan utama bagi siswa yang dilatih di Mikrotik Akademi</h2>
        <p>
          1. Kemampuan untuk memperoleh pengetahuan dengan karakter praktis dan terapan yang kuat di bidang jaringan
          komputer. <br>
          2. Memperoleh kualifikasi tambahan – sertifikat MTCNA yang diakui secara internasional. <br>
          3. Melakukan sesi laboratorium dengan peralatan jaringan modern dan trainer yang berkualitas
        </p>
      </div>

      <div class="mikro my-5">
        <h2>Fasilitas Dari Pelatihan Mikrotik Akademi</h2>
        <p>
          1. Pengetahuan dan keterampilan kurikulum yang relevan dengan skema MTCNA. <br>
          2. Kemampuan pemahaman terkait MikroTik RouterOS dan solusi terintegrasi lainnya. <br>
          3. Memberikan kesempatan untuk memperoleh sertifikat MikroTik Certified Network Associate. <br>
          4. Lisensi RouterOS Level 4 gratis saat Anda menjalankan ujian sertifikasi.
        </p>
      </div>

      <div class="mikro my-5">
        <h2>Kurikulum</h2>
        <p>
          MikroTik Academy akan memberikan sertifikasi MTCNA (MikroTik Certified Network Associate) yang menjadi langkah
          awal kepada peserta training untuk masuk dalam asosiasi dan sebagai syarat untuk mengambil sertifikasi yang
          lebih tinggi dari MikroTik.
          <br>
          <br>
          Materi MTCNA diantaranya:
          <br>
          <br>
          &gt; Introduction to Mikrotik <br>
          &gt; DHCP <br>
          &gt; Bridge <br>
          &gt; Routing <br>
          &gt; Firewall <br>
          &gt; Quality of Service <br>
          &gt; Wireless <br>
          &gt; Tunnel
        </p>
      </div>
    </div>
  </div>
</div>

<div class="mt-4 mt-md-5">
  <app-footer></app-footer>
</div>
