<div class="row overflow" *ngIf="!(currentUser$ | async)">
  <div class="item1 col-lg-5 col-12 col-md-11" [formGroup]="loginform">
    <a routerLink="/" class="a" href="">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="41"
        height="40"
        viewBox="0 0 41 40"
        fill="none"
      >
        <line
          x1="1.69156"
          y1="2.15918"
          x2="38.6916"
          y2="36.1592"
          stroke="white"
          stroke-width="5"
        />
        <line
          x1="38.7434"
          y1="1.79181"
          x2="1.74339"
          y2="37.7918"
          stroke="white"
          stroke-width="5"
        />
      </svg>
    </a>
    <div class="row up justify-content-end">
      <h2 class="sign col-7">Login</h2>
    </div>

    <div class="username">
      <mat-error
        *ngIf="
          loginform.get('usernameOrEmail')?.hasError('required') &&
          loginform.get('usernameOrEmail')?.touched
        "
        class="mb-3"
      >
        Username or Email is required
      </mat-error>

      <input
        type="text"
        class="form-control mb-lg-3 mb-md-3 mb-2"
        formControlName="usernameOrEmail"
        placeholder="Username / Email"
        aria-label="Email"
      />

      <mat-error
        *ngIf="
          loginform.get('Password')?.hasError('required') &&
          loginform.get('Password')?.touched
        "
        class="mb-3"
      >
        Password is required
      </mat-error>
      <input
        type="password"
        class="form-control mb-lg-3 mb-md-3 mb-2"
        formControlName="Password"
        placeholder="password"
        aria-label="password"
      />
    </div>

    <div class="container test">
      <button
        type="bottom-right"
        class="btn btn-primary mt-lg-3 mt-md-4 mt-4"
        (click)="Logins()"
        [ngStyle]="getButtonStyle()"
        (mouseenter)="toggleHover()"
        (mouseleave)="toggleHover()"
      >
        <ng-container *ngIf="!isCooldownActive; else cooldownssTemplate"
          >SUBMIT</ng-container
        >
        <ng-template #cooldownssTemplate
          >test
          {{ cooldownTime | date : "mm:ss" }}
        </ng-template>
      </button>
      <h5 class="mt-lg-3 mt-md-2 mt-2">
        Don't have an account ? <a routerLink="/register">Sign Up</a>
      </h5>
      <h5 class="mt-lg-3 mt-md-2 mt-2">
        Forget Password ? <a routerLink="/Forget-Password">Click Here </a>
      </h5>
    </div>
  </div>

  <div class="col-lg-7 col-12 col-md-12 img">
    <img
      src="https://th.bing.com/th/id/R.a4b3859373b2076ed1dc57d9ebfba2d9?rik=6twwpN4fcuikNw&riu=http%3a%2f%2f4.bp.blogspot.com%2f-7sKEjmuvgnQ%2fVNonXJDt1LI%2fAAAAAAAABLk%2fJrhPhYTGb2U%2fs1600%2fpustaka.JPG&ehk=JjcURbbpljJ4RmGGexAU2baQyXCSg98sa3HXCx7GiD4%3d&risl=&pid=ImgRaw&r=0&sres=1&sresct=1"
      alt=""
      class="img-responsive"
    />
  </div>
</div>
