<div class="appnav" [class.header_change]="isScrolled" [class.header]="!isScrolled" #appnav>
  <app-nav></app-nav>
</div>

<div class="axioo mt-5 pt-1">
  <div class="row px-3 mt-3 mt-md-5 px-md-5">
    <div class="col-12 mt-5 px-5">
      <h1 class="mb-md-5">AXIOO CLASS PROGRAM SMK NEGERI 7 BATAM</h1>

      <div class="axi h2 mt-4 mt-md-4 mb-5">
        <h2 class="">Apa itu Axioo Class?</h2>
        <p>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Mengutip dari laman resmi Axioo, Axioo Class Program
          adalah program sosial atau Corporate Social Impact (CSI) dari PT Tera Data Indonusa Tbk atau Axioo Indonesia.
          Bertujuan untuk memberikan sumbangsih dalam mencerdaskan bangsa. Saat ini Axioo Class Program telah bekerja
          sama dengan lebih dari puluhan perusahaan dan juga melatih puluhan ribu siswa lebih dari sekitar 800 SMK,
          Perguruan Tinggi, Lembaga Pendidikan Non Vokasional per tahunnya. Program ini merupakan program pendidikan
          dalam menyiapkan tenaga terampil yang sesuai dengan kebutuhan industri lewat program sinkronisasi kurikulum,
          workshop berkelanjutan bagi guru, pembelajaran berbasis IT serta validasi sertifikasi bertaraf industri
          internasional. Program ini memberikan pelatihan terpadu kepada siswa dan guru. Corporate Social Impact (CSI)
          Program Dikelola Oleh PT Mabito Karya (MK) yang merupakah salah satu perusahan masih dalam 1 grup dan pemegang
          saham PT Tera Data Indonusa Tbk atau Axioo Indonesia.
        </p>
      </div>

      <div class="axi my-5">
        <h2>Visi dan Misi</h2>
        <p>
          Visi : <br>
          Membantu dunia pendidikan di Indonesia menghasilkan lulusan yang siap kerja sehingga bisa bermanfaat baik bagi
          negara dan dunia industri.
          <br>
          <br>
          Misi : <br>
          Menjembatani dunia Pendidikan dengan industri IT nasional Indonesia melalui implementasi kelas industri
          didesain untuk
          meningkatkan kemampuan siswa dengan mensikronisasikan kurikulum industri dengan kurikulum sekolah yang
          bertujuan
          menghasilkan tenaga kerja siap pakai dan mandiri.
          <br>
          <br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;SMK Negeri 7 Batam berkomitmen penuh melalui visi, misi
          dan tujuannya untuk terwujudnya peserta didik yang beriman, bertaqwa kepada Tuhan Yang Maha Esa dan berakhlak
          mulia terampil, unggul, berdaya saing global di era teknologi digital. Khususnya menyiapkan generasi muda Kota
          Batam yang merupakan generasi penerus pembangunan di tanah Kepulauan Riau. Di awal tahun ajaran 2023/2024,
          tepatnya pada tanggal 30-31 Mei 2023 SMK Negeri 7 Batam berkesempatan mengirim 2 Fasilitator/guru dari
          Konsentrasi Keahlian Teknik Komputer dan Jaringan atas nama Frans Taqwa Dewantara Halim,S.Kom & Afmy Malinda,
          S.Pd untuk pelatihan secara ofline di PT. Mabito Karya yang berada di kota Bandung, Undangan dari Axioo
          merupakan jawaban atas permintaan SMK Negeri 7 Batam untuk bekerja sama dalam program Axioo Class Program
          (ACP) yang di rintis oleh Perusahaan PT. Tera Data Indonusa Tbk. (Axioo). Audiensi/Pelatihan bersama Divisi
          Axioo Education Program dilaksanakan pada hari Selasa, pukul 09.00 diawali dengan sambutan Bpk. Timmy
          Theopelus selaku Direktur Axioo Education, beliau menjelaskan seluruh program yang dibuat Axioo untuk
          memajukan dunia pendidikan di Indonesia dan untuk membentuk SDM manusia yang unggul di dunia industri visi ini
          sejalan dengan visi SMK Negeri 7 Batam sehingga pada sesi lanjutan Tim SMK Negeri 7 Batam berjuang untuk bisa
          ikut dalam program ACP ini.
        </p>
      </div>

      <div class="axi my-5">
        <h2>Kelas Rintisan Binaan ACP</h2>
        <p>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Axioo Class Program atau disingkat ACP, merupakan salah
          satu dari 4 kelas industri di SMK Negeri 7 Batam. Kurikulum yang digunakan oleh ACP adalah Kurikulum
          Kompetensi Keahlian Teknik Komputer dan Jaringan Kurikulum Merdeka yang di sinkronisasi dengan Kurikulum
          industri. Kurikulum tambahan yang berasal dari industri mengacu kepada beberapa standar kompetensi
          internasional, sehingga kompetensi siswa dapat diakui secara nasional maupun internasional.
          <br>
          <br>
          Untuk mendukung proses belajar dan mengajar, kelas industri ini di fasilitasi dengan :
          <br>
          <br>
          a. Ruang kelas khusus (Axioo Smart Classroom) yang nyaman dilengkapi dengan Smart Eduboard layar sentuh. <br>
          b. Mendapatkan laptop Axioo yang dirakit sendiri oleh siswa (Program SSP) <br>
          c. Materi dari industri (Axioo, Microsoft, Intel, axioo, Makeblock, Dicoding, dll) <br>
          d. Berhak mengikuti Setifikasi keahlian dari Industri (Program SSP)
        </p>
      </div>
    </div>
  </div>
</div>


<div class="container img-axioo">
  <div class="row">
    <div class="row m-auto">
      <div class="col-6">
        <img class="mb-3 mb-md-4 Achievemen" src="../../../../assets/Axioo/Picture1.jpg" alt="" />
      </div>
      <div class="col-6">
        <img class="mb-3 mb-md-4 Achievemen" src="../../../../assets/Axioo/Picture2.jpg" alt="" />
      </div>
      <div class="col-6">
        <img class="mb-3 mb-md-4 Achievemen" src="../../../../assets/Axioo/Picture3.jpg" alt="" />
      </div>
      <div class="col-6">
        <img class="mb-3 mb-md-4 Achievemen" src="../../../../assets/Axioo/Picture4.jpg" alt="" />
      </div>
      <div class="col-6">
        <img class="mb-3 mb-md-4 Achievemen" src="../../../../assets/Axioo/Picture5.jpg" alt="" />
      </div>
      <div class="col-6">
        <img class="mb-3 mb-md-4 Achievemen" src="../../../../assets/Axioo/Picture6.jpg" alt="" />
      </div>
    </div>
  </div>
</div>

<div class="mt-4 mt-md-5">
  <app-footer></app-footer>
</div>
