<div class="container Program-Bussiness-Center">
  <div class="row mt-3 mt-2">
    <div class="col-6 mb-4 text-start">
      <h1>Program Bussiness Center</h1>
    </div>
    <div class="col-6 text-end">
      <a routerLink="/home">
        <i style="font-size: 30px; color: #000" class="fa fa-home"></i>
      </a>
    </div>
    <div class="background p-2">
      <div class="padding p-3">
        <div style="position: relative">
          <div class="row">
            <div class="col-5 mb-3 text-end text-md-end mt-md-2">
              <nz-input-group
                class="input"
                [nzSuffix]="suffixTemplateInfo"
                [nzPrefix]="prefixTemplateUser"
              >
                <input
                  type="text"
                  nz-input
                  placeholder="Cari Program Bussiness Center"
                  [(ngModel)]="searchText"
                  (input)="performSearch()"
                />
              </nz-input-group>
              <ng-template #prefixTemplateUser
                ><span nz-icon nzType="search"></span
              ></ng-template>
              <ng-template #suffixTemplateInfo>
                <span
                  nz-icon
                  nz-tooltip
                  nzTooltipTitle="Extra information"
                  nzType="info-circle"
                ></span>
              </ng-template>
            </div>

            <div class="col-7 text-end">
              <button
                type="button"
                class="btn btn-outline-info"
                [routerLink]="'/admin/Tambah-Program-Bussiness-Center'"
              >
                Tambah Kegiatan
              </button>
            </div>
          </div>
        </div>
        <div class="col-12">
          <nz-table #basicTable [nzData]="filteredData" class="striped-table">
            <thead>
              <tr>
                <th class="start"><b>No</b></th>
                <th><b>Kegiatan</b></th>
                <th><b>Tanggal Post</b></th>
                <th class="end"><b>Aksi</b></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of basicTable.data">
                <td>{{ data.NO }}</td>
                <td>{{ data.Judul }}</td>
                <td>{{ data.Tanggal }}</td>
                <td>
                  <div class="col-12 mb-1">
                    <button
                      type="button"
                      class="btn btn-outline-primary"
                      [routerLink]="
                        '/admin/Edit-Program-Bussiness-Center/' + data.Id
                      "
                    >
                      Edit
                    </button>
                  </div>
                  <div class="col-12">
                    <button
                      nz-button
                      nz-popconfirm
                      nzOkText="Yes"
                      nzCancelText="No"
                      nzPopconfirmTitle="Are you sure to delete this task?"
                      class="btn btn-outline-danger ms-2"
                      (nzOnConfirm)="deleteData(data.Id)"
                    >
                      Delete
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
          </nz-table>
        </div>
      </div>
    </div>
  </div>
</div>
