<div
  class="appnav"
  [class.header_change]="isScrolled"
  [class.header]="!isScrolled"
  #appnav
>
  <app-nav></app-nav>
</div>

<div class="history mt-5 pt-1">
  <div class="row px-3 mt-3 mt-md-5 px-md-5">
    <div class="col-12 mt-5 px-5">
      <h1 class="mb-md-5">SEJARAH SMK NEGERI 7 BATAM</h1>

      <div class="sejarah h2 mt-4 mt-md-4 mb-5">
        <h2 class="">Riwayat Singkat Sekolah SMK Negeri 7 Batam</h2>
        <p>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Awal berdirinya
          SMK Negeri 7 Batam adalah untuk memenuhi tuntutan pasar kerja pada
          saat itu tahun 2013. SMK Negeri 7 Batam berdiri di lokasi Perum
          Sekawan Pemko Batam Kelurahan Belian Kecamatan Batam Kota. Konsentrasi
          Keahlian yang dibuka saat itu meliputi Administrasi Perkantoran dan
          Perbankan dan Keuangan Mikro berdasarkan akte pendirian nomor : KPTS.
          367/HK/IX/2014. Pada tahun 2015 SMK Negeri 7 Batam, menambah
          konsentrasi keahlian Teknik Jaringan Akses Telekomunikasi. Perdirjen
          Dikdasmen No. 06/D.D5/KK/2018 tanggal 7 Juni 2018 tentang Spektrum
          Keahlian Sekolah Menengah Kejuruan (SMK)/Madrasah Aliyah Kejuruan
          (MAK) memberikan panduan tentang Bidang Keahlian (Jurusan) yang ada di
          SMK Negeri 7 Batam. <br />
          <br />
          Konsentrasi keahlian di SMK Negeri 7 Batam mencakup bidang yang sangat
          relevan dengan kebutuhan industri saat ini. Berikut penjelasan singkat
          tentang masing-masing konsentrasi keahlian yang ada di SMK Negeri 7
          Batam :
        </p>
        <p>
          <strong>1. Design Komunikasi Visual (DKV)</strong>
          <br />
          Program ini fokus pada pengembangan kemampuan dalam mendesain visual
          untuk komunikasi, seperti desain grafis, desain web, animasi, dan
          branding. Lulusannya diharapkan dapat bekerja di industri kreatif,
          seperti periklanan, desain grafis, dan media digital.
        </p>
        <p>
          <strong> 2. Rekayasa Perangkat Lunak (RPL) </strong><br />
          Konsentrasi ini mengajarkan siswa tentang pengembangan perangkat
          lunak, termasuk pemrograman, pengujian perangkat lunak, dan manajemen
          basis data. Lulusan program ini diharapkan memiliki keahlian untuk
          bekerja sebagai pengembang perangkat lunak, analis sistem, atau
          administrator basis data.
        </p>

        <p>
          <strong>3. Teknik Komputer dan Jaringan (TKJ) </strong>
          <br />
          Fokus utama program ini adalah pada pemasangan, konfigurasi, dan
          pemeliharaan jaringan komputer serta perangkat keras terkait. Lulusan
          dari program TKJ memiliki peluang karir di bidang teknologi informasi
          dan komunikasi, seperti teknisi jaringan, administrator sistem, dan
          spesialis keamanan jaringan.
        </p>
        <p>
          <strong> 4. Teknik Jaringan Akses Telekomunikasi (TJAT) </strong
          ><br />
          tentang teknologi dan perangkat yang digunakan dalam jaringan akses
          telekomunikasi, termasuk pemasangan, pengujian, dan pemeliharaan
          infrastruktur jaringan telekomunikasi. Lulusannya cocok untuk bekerja
          di perusahaan telekomunikasi, sebagai teknisi lapangan, atau dalam
          pengelolaan infrastruktur jaringan.
        </p>
        <p>
          <strong> 5. Teknik Instalasi Tenaga Listrik (TITL) </strong><br />
          Program ini mengajarkan tentang instalasi, pemeliharaan, dan perbaikan
          sistem tenaga listrik. Ini termasuk pengetahuan tentang kabel, alat
          ukur listrik, dan sistem distribusi listrik. Lulusan dari program ini
          dapat bekerja dalam berbagai sektor, termasuk pembangkit tenaga
          listrik, perusahaan distribusi listrik, dan sebagai teknisi instalasi
          listrik di proyek konstruksi.
        </p>
        <p>
          Setiap konsentrasi keahlian di SMK Negeri 7 Batam dirancang untuk
          mempersiapkan siswanya dengan pengetahuan dan keterampilan praktis
          yang dibutuhkan oleh industri terkait, membuka berbagai peluang karir
          di masa depan.
        </p>
      </div>

      <div class="sejarah my-5">
        <h2>Data-data Sekolah</h2>
        <p>
          Nama Sekolah : SMK Negeri 7 Batam <br />
          Jenis Sekolah : Kejuruan Teknologi <br />
          Didirikan Pada : Juli 2013 <br />
          NSS/ NPSN : 401316012001/ 69774885 <br />
          Kepala Sekolah : NURSYA'BANI, M.Pd
        </p>
      </div>

      <div class="sejarah my-5">
        <h2>Konsentrasi Keahlian</h2>
        <p>
          1. Teknik Instalasi Tenaga Listrik <br />
          2. Teknik Jaringan Akses Telekomunikasi <br />
          3. Rekayasa Perangkat Lunak <br />
          4. Teknik Komputer dan Jaringan <br />
          5. Desain Komunikasi Visual
        </p>
      </div>

      <div class="sejarah mt-5">
        <h2>Informasi Terkait</h2>
        <p>
          Alamat : Perum Sekawan Pemko Batam <br />
          Kelurahan : Belian Kecamatan Batam Kota <br />
          Website : smknegeri7batam.sch.id
        </p>
      </div>
    </div>
  </div>
</div>

<div class="mt-4 mt-md-5">
  <app-footer></app-footer>
</div>
