<div class="appnav"  [class.header_change]="isScrolled" [class.header]="!isScrolled" #appnav>
    <app-nav ></app-nav>
</div>

<div class="headmaster">
    <div class="row mt-5 px-2">
        <div class="col-12 ms-md-5 px-4 px-md-5 mt-5">
            <h1 class="mt-4 pt-md-4">PROGRAM PENGEMBANGAN SEKOLAH</h1>
        </div>
        <h2 class="mt-4 pt-md-2 ms-md-5 px-4 px-md-5">Terdapat 5 Aspek Pengembangan Sekolah SMK Negeri 7 Batam</h2>
        <div class="col-12 ms-md-5 px-4 px-md-5 mt-3">
            <h5>1. Pengembangan Insitusi</h5>
            <h5>2. Pengembangan Kepala Sekolah dan Guru</h5>
            <h5>3. Pengembangan Siswa</h5>
            <h5>4. Pengembangan Infrastruktur</h5>
            <h5>5. Pengembangan Kesejahteraan PTK dan Non PTK</h5>
        </div>
    </div>
</div>

<div class="mt-4 mt-md-5">
    <app-footer></app-footer>
</div>