<div class="row" [formGroup]="forget">
  <a routerLink="/" class="a" href="">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="41"
      height="40"
      viewBox="0 0 41 40"
      fill="none"
    >
      <line
        x1="1.69156"
        y1="2.15918"
        x2="38.6916"
        y2="36.1592"
        stroke="white"
        stroke-width="5"
      />
      <line
        x1="38.7434"
        y1="1.79181"
        x2="1.74339"
        y2="37.7918"
        stroke="white"
        stroke-width="5"
      />
    </svg>
  </a>

  <div class="col-lg-7 col-sm-12">
    <img
      src="https://th.bing.com/th/id/R.a4b3859373b2076ed1dc57d9ebfba2d9?rik=6twwpN4fcuikNw&riu=http%3a%2f%2f4.bp.blogspot.com%2f-7sKEjmuvgnQ%2fVNonXJDt1LI%2fAAAAAAAABLk%2fJrhPhYTGb2U%2fs1600%2fpustaka.JPG&ehk=JjcURbbpljJ4RmGGexAU2baQyXCSg98sa3HXCx7GiD4%3d&risl=&pid=ImgRaw&r=0&sres=1&sresct=1"
      alt=""
      class="img-responsive"
    />
  </div>

  <div class="col-lg-4 col-sm-12">
    <div class="row up justify-content-end">
      <h2 class="sign col-7">Forget</h2>
    </div>

    <div class="mt-5 test">
      <div [formGroup]="forgets">
        <mat-error
          *ngIf="forgets.get('Email')?.hasError('required') && forgets.get('Email')?.touched"
          class="mb-3"
        >
          Email is required
        </mat-error>
        <mat-error *ngIf="forgets.get('Email')?.hasError('email')&& forgets.get('Email')?.touched" class="mb-3">
          Invalid Emails!!
        </mat-error>
        <input
          type="text"
          class="form-control mb-lg-3 mb-md-3 mb-3"
          placeholder="Email"
          formControlName="Email"
          aria-label="Email"
        />
        <button
          type="b1 bottom-right"
          class="btn btn-primary mb-5"
          (click)="Forgets()"
          [ngStyle]="getButtonSendStyle()"
          (mouseenter)="toggleHover()"
          (mouseleave)="toggleHover()"
        >
          <ng-container *ngIf="!isCooldownActive; else cooldownsTemplate"
            >Konfirmasi Email</ng-container
          >
          <ng-template #cooldownsTemplate>
            {{ cooldownTime | date : "mm:ss" }}
          </ng-template>
        </button>
      </div>
      <input
        type="text"
        class="form-control mb-lg-3 mb-md-3 mb-3"
        formControlName="kode"
        placeholder="Number"
        aria-label="number"
      />
      <mat-error
        *ngIf="forget.get('kode')?.hasError('required') && forget.get('kode')?.touched"
        class="mb-3 text-start"
      >
        Code is required!!
      </mat-error>

      <input
        type="password"
        class="form-control mb-lg-3 mb-md-3 mb-2"
        formControlName="newPassword"
        placeholder="Password"
        aria-label="password"
      />
      <mat-error
        *ngIf="forget.get('newPassword')?.hasError('required') && forget.get('newPassword')?.touched"
        class="mb-3"
      >
        New Password is required!!
      </mat-error>
      <mat-error
        *ngIf="forget.get('newPassword')?.hasError('minlength') && forget.get('newPassword')?.touched"
        class="mb-3"
      >
        New Password Too short!!
      </mat-error>
    </div>

    <div class="container mt-4">
      <button
        type="bottom-right"
        class="btn btn-primary"
        (click)="resetPassword()"
        [ngStyle]="getButtonForgetStyle()"
        (mouseenter)="toggleHover()"
        (mouseleave)="toggleHover()"
      >
   Submit
      </button>
      <h5 class="col-12">
        Already have an account ? <a routerLink="/login">Login</a>
      </h5>
    </div>
  </div>
</div>
