<div class="appnav"  [class.header_change]="isScrolled" [class.header]="!isScrolled" #appnav>
    <app-nav ></app-nav>
</div>


<div class="not-found">
    <div class="container">
        <div class="row mx-1 mt-5">
            <div class="col-12 mt-5 pt-5 line1"></div>
            <div class="col-12 text-center">
                <p>Oops! 404</p>
                <p class="h2">Halaman Tidak Di Temukan</p>
            </div>
            <div class="col-12 d-flex justify-content-end">
                <div class="mt-5 pt-5 line2"></div>
            </div>
        </div>
    </div>
</div>

<div class="mt-4 mt-md-5">
    <app-footer></app-footer>
</div>

